:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#app {
  margin: 0 auto;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

input {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0.2em;
}

.spin {
  animation: spin 1s;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(180deg);
  }
}

.expand {
  animation: expand 0.5s forwards;
}

.collapse {
  animation: expand 0.5s reverse forwards;
}

@keyframes expand {
  from {
    height: 0vh;
    width: 100%;
    padding: 0 0;
  }
  to {
    height: 60vh;
    width: 30vw;
    padding: 0.6em 1.2em;
  }
}

.big {
  max-height: 30vh;
  max-width: 80vw;
  min-height: 20vh;
  min-width: 60vw;
  width: fit-content;
  margin: 0;
}

.mid {
  max-height: 20vh;
  max-width: 40vw;
  min-height: 10vh;
  min-width: 30vw;
  margin: 0;
}

/* portrait */
@media (orientation: portrait) {
  .big {
    max-height: 35vh;
    max-width: 95vw;
    min-height: 15vh;
    min-width: 80vw;
  }

  .mid {
    max-height: 25vh;
    max-width: 47.5vw;
    min-height: 10vh;
    min-width: 40vw;
  }

  @keyframes expand {
    from {
      height: 0vh;
      width: 100%;
      padding: 0 0;
    }
    to {
      height: 40vh;
      width: 80vw;
      padding: 0.6em 1.2em;
    }
  }
}

.flag {
  max-height: inherit;
  max-width: inherit;
}

.checkboxcontainer {
  border-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #1a1a1a;
  padding: 0.6em 1.2em;
  display: flex;
  margin: 0.6em 0;
  user-select: none;
}

.checkboxcontainer:has(input:checked) {
  border-color: #539987;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 0.6rem;

  appearance: none;
  -webkit-appearance: none;

  width: 1.2rem;
  height: 1.2rem;
  border-radius: 6px;
  border: 1px solid #000000;
  background-color: #1a1a1a;
  font-size: 0px;
  position: relative;

  transition: background-color 0.25s;


  &:checked {
    background-image: url('checkmark.svg');
    background-size: 0.9rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #539987;
  }
}

.danger {
  background-color: #ff3232;
  color: #fff;
}